#img1{
   background: linear-gradient(#000);
}

#first-heading{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    color: #006064;
    margin-bottom: 30px;
}
#last-heading{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin-bottom: 30px;
  
}
span{
    color: #006064;
    font-size: 40px;
}